/* Reset default styles for the input range */
input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  margin: 8px 0;
}

/* Apply custom styling to the track and thumb */
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: #eee;
  border-radius: 4px;
}

input[type="range"]::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #1fa45b;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;
}
